ion-select-option .select-icon{
  margin-left: 10px !important;
}

.button-secion{
  padding-top: 50px !important;
}

.result-secion{
  padding-left: 50px !important;
  padding-top: 50px !important;
}
