<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Production Calculation</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-item>
    <ion-label>Fabric Type</ion-label>
    <ion-select [(ngModel)]="currentFabricValue" (ionChange)="onFabricValueChange();" interface="popover">
      <ion-select-option *ngFor="let value of fabricValues" [value]="value" >{{value}}</ion-select-option>
    </ion-select>
  </ion-item>
  <div class="ion-padding-top"></div>

  <app-sj-calc *ngIf="currentFabricValue === 'S/J'">
  </app-sj-calc>

  <app-ctn-fleece-calc *ngIf="currentFabricValue === 'CTN FLEECE'">
  </app-ctn-fleece-calc>


  <app-poly-fleece-calc *ngIf="currentFabricValue === 'POLY FLEECE'">
  </app-poly-fleece-calc>

  <app-normal-rib-calc *ngIf="currentFabricValue === 'RIB'">
  </app-normal-rib-calc>


</ion-content>
